.modal {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.829);
  display: none;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.37);
}

.modalContent {
  padding: 5px;
  background-color: rgb(79 199 199 / 80%);
  color: #fff;
  border-radius: 5px;
  width: 400px;
}
